@use "../base/global" as *;

.main {
    display: flex;
    font-family: 'Roboto';

    .nav-menu {
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: rgb(98, 140, 255);
        gap: 5px;
        width: 30dvh;
        height: 90dvh;

        border-radius: 0 20px 20px 0;

        overflow: scroll;
        overflow-x: hidden;
        overflow-y: none;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .3);
            border-radius: 999px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, .6);
        }


        a,
        span {
            color: $text-black;
            text-decoration: none;
            transition: all 0.1s ease-in-out;
        }

        .menu-container {
            cursor: pointer;

            .title-container {
                display: flex;
                justify-content: space-between;
                padding: 5px;

                &:hover {
                    background-color: rgba(255, 0, 0, 0.1);
                }

            }

            .menu-list {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                transition: all;
            }
        }

        .link {
            padding: 5px;
            border-radius: 0 10px 10px 0;

            &:hover {
                background-color: rgba(255, 0, 0, 0.1);
            }
        }
    }
}