@use "../base/global" as *;

.menu {
    display: flex;
    font-family: 'Roboto';

    .nav-menu {
        display: flex;
        flex-direction: column;
        padding: 5px;
        // background-color: darkblue;
        gap: 5px;
        width: 175px;
        height: 88dvh;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: none;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .3);
            border-radius: 999px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, .6);
        }


        a,
        span {
            color: $text-black;
            text-decoration: none;
            
        }

        .menu-container {
            cursor: pointer;

            .title-container {
                display: flex;
                justify-content: space-between;
                padding: 5px;
            }

            .menu-list {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                transition: all;
            }
        }

        .link {
            // background-color: lightblue;
            padding: 5px;
            // margin: 2px;
            border-radius: 0 10px 10px 0;
        }
    }
}