// Dành cho toàn bộ
$text-black: #000;

// ========== Dành cho Error Page ==========

$primary-color: #4f46e5; // Màu tím Indigo hiện đại
$primary-hover: #4338ca;
$text-main: #1f2937;
$text-muted: #4b5563;
$bg-color: #f9fafb;
$white: #ffffff;

// 